body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App {

}

.nav {
  display: flex;
  text-align: center;
}

/* .nav a {
  flex: 1;
  padding: 10px;
  margin: 5px 15px;
  border: 2px solid black;
  text-decoration: none;
  font-family: Impact, fantasy;
  font-size: 20pt;
  border-radius: 10px;
  -webkit-text-stroke: 1.5px black;
  color: white;
} */

.nav a:hover, .selected {
  background: green;
}

.welcome {
  text-align: center;
}

.login *,
.registration * {
  font-size: 16px;
  text-align: center;
}

div.registration {
  margin-top: 10px;
  position: absolute;
  left: 20%;
  right: 20%;
  height: 400px;
  top: 90px;
  background-color: rgba(255, 255, 255, 0.5);
  overflow: scroll;
}

div.login {
  margin-top: 10px;
  position: absolute;
  left: 20%;
  right: 20%;
  height: 220px;
  top: 90px;
  background-color: rgba(255, 255, 255, 0.5);
  overflow: scroll;
}

.login label {
  margin: 0 20px;
  color: white;
  font-size: 20px;
  -webkit-text-stroke: 1.5px black;
}

.login input[type="submit"] {
  margin: 0 20px;
}

.registration label {
  margin: 0 20px;
}

.registration input[type="submit"] {
  margin: 0 20px;
}
